.pure-menu.pure-menu-fixed.main-menu {
    background: #E6E6E6;
    border-bottom: none;
}

.pure-button.signup-button {
    margin: 2px;
}

.splash-container {
    background: #521F8F;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
}

.splash {
    width: 50%;
    height: 50%;
    margin: auto;
    position: absolute;
    top: 100px;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    color: white;
}

.splash h1 {
    font-size: 250%;
}

.splash form {
    margin: 0 auto;
    width: 20%;
}

strong.highlight {
    color: #2B0F4D;
}
