.menu-container {
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    display: inline-block;
    width: 100%;
}

.menu {
    max-width: 960px;
    margin: 0 auto;
}

.menu a.heading {
    font-weight: bold;
}

.menu ul {
    display: inline;
}

.menu li  {
    display: inline;
}

.menu a {
    padding: 10px;
    text-decoration: none;
    color: black;
    display: inline-block;
}

.menu a:hover {
    background: lightGray;
}

.promo-content {
    max-width: 960px;
    margin: 0 auto;
}

.disclaimer {
    background: #FAE6AC;
    color: #444;
    font-size: 80%;
    text-align: center;
    border-bottom: 1px solid black;
    display: inline-block;
    width: 100%;
}

#logged-in {
}

form {
}

