.menu-container {
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  display: inline-block;
  width: 100%;
}

.menu {
  max-width: 960px;
  margin: 0 auto;
}

.menu a.heading {
  font-weight: bold;
}

.menu ul {
  display: inline;
}

.menu li  {
  display: inline;
}

.menu a {
  padding: 10px;
  text-decoration: none;
  color: black;
  display: inline-block;
}

.menu a:hover {
  background: lightGray;
}

.promo-content {
  max-width: 960px;
  margin: 0 auto;
}

.disclaimer {
  background: #FAE6AC;
  color: #444;
  font-size: 80%;
  text-align: center;
  border-bottom: 1px solid black;
  display: inline-block;
  width: 100%;
}

#logged-in {
}

#submit-button {
  font-size: 120%;
}

#register-legend{
  text-align: center;
  padding: 20px;
  font-size: 300%;
  width: 100%;
}

.control-group {
  padding: 5px;
  font-size: 200%;
}

label .control-label{
  text-align: left;
}

.container{
  padding: 20px;
}

.form-horizontal{
  border: 2px solid;
  border-radius: 25px;
  background: #FEE;
}

#event-table {
  border: 2px solid;
  border-radius: 25px;
}

#event-table th {
  font-size: 200%;
  text-align: center;
}

.upcoming-event {
  background: #DAFFCE; 
}

.archived-event {
  background: #FEE;
}

ul {         
  padding:0 0 0 0;
  margin:0 0 0 0;
}
ul li {     
  list-style:none;
  margin-bottom:25px;           
}
ul li img {
  cursor: pointer;
}

img {
  -webkit-box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
  box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
  margin-bottom:20px;
}

#going-button{
  float:right;
  font-size: 150%;
}

#event-box {
  border: 2px solid;
  border-radius: 25px;
}

#user-picture-box {
  border: 2px solid;
  border-radius: 25px;
}

#welcome-message {
  border: 2px solid;
  border-radius: 25px;
}
