{% extends "layout.html" %}


{% block title %} Event - FormalDateFinder.com {% endblock %}


{% block content %}
<h1> Event: {{ e.event_name }} </h1>
<h2> Date: {{ e.event_date }} </h2>
<h2> Sponsor: {{ e.sponsor }} </h2>
<h2> Location: {{ e.location }} </h2>
<h2> Who's Going: </h2>
{% for user in e.user_set.all %}
<a href="https://graph.facebook.com/{{ user.fid }}/home" target="_blank">
	<img src="https://graph.facebook.com/{{ user.fid }}/picture?width=300" title="https://graph.facebook.com/{{ user.fid }}/name">
</a>
{% endfor %}
<br>

<button type="button" class="btn btn-default navbar-btn" 
  onClick="Rsvp({{e.id}});window.location.reload()">
  I'm Going!</button>

{% endblock %}
