{% extends "layout.html" %}


{% block title %} Event - FormalDateFinder.com {% endblock %}


{% block content %}
<br>
<br>
<div class="container" id="event-box">

<button id='going-button' type="button" class="btn btn-success" 
  onClick="Rsvp({{e.id}});window.location.reload()">
  I'm Going!</button>

<h1> {{ e.event_name }} </h1>
<h3> Date: {{ e.event_date }} </h2>
<h3> Sponsor: {{ e.sponsor }} </h2>
<h3> Location: {{ e.location }} </h2>
</div>

<br>

<!-- Displays who is going in a nice grid -->
<div class="container" id="user-picture-box">
<h2> Who's Going: </h2>
<br>
  <ul class="row">
{% for user in e.user_set.all %}
<li class="col-md-3 col-sm-4 col-xs-6">
<!-- Fetches profile pic and links it to the users FB page -->
<a href="http://facebook.com/profile.php?id={{user.fid}}/" target="_blank">
	<img class="img-responsive" 
  src="https://graph.facebook.com/{{ user.fid }}/picture?width=200" 
  title="{{ response.name }}">
</a>
</li>
{% endfor %}
  </ul>
</div>
<br>


{% endblock %}