{% extends "layout.html" %}

{% block title %} FormalDateFinder.com {% endblock %}

{% block content %}

    <div class="splash-container">
        <div class="splash">
            <h1>Find a date to formal.</h1>
            <p>
                <a class="pure-button signup-button" href="#">
                    Looking for a <strong class="highlight">date</strong>
                </a>
                <a class="pure-button signup-button" href="#">
                    Looking for a <strong class="highlight">formal</strong>
                </a>
            </p>
        </div>
    </div>

{% endblock %}
