{% extends "layout.html" %}

{% block title %} FormalDateFinder.com {% endblock %}

{% block content %}

<!-- Message on the homepage -->
<div class="container" align="center">
    <div class="promo-content">
    <div class="jumbotron" id="welcome-message">
          <h1>FormalDateFinder!</h1>
          <p>Whether you are the life of the party, or just need some time away from schoolwork, find an event to attend here! RSVP made easy. To get quickly register for an event, sign in through your personal Facebook account above.</p>
              <p><a class="btn btn-primary btn-lg" href="http://www.github.com/malea/formaldatefinder" role="button">Contribute Here</a></p>
    </div>
    </div>
  </div>


{% endblock %}