
{% extends "layout.html" %}

{% block title %} FormalDateFinder.com {% endblock %}

{% block content %}

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
          <center><div class="circle-image"></div>
          <h3><span id="first_name">First</span> <span id="last_name">Last</span></h3> </center>
          <ul class="list-group">
            <li class="list-group-item"><b> School:</b> Rensselaer Polytechnic Institute<li>
            <li class="list-group-item"><b> Favourite Food:</b> Cat food<li>
          </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- page content wrapper -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">

                      
                    <center><div class="parent"><div class="child">
                    </div></div>

                    <div class="nums">
                    <div class="num num-left">3</div>
                    <div class="num num-center">4</div>
                    <div class="num num-right">5</div>
                    </div>

                    <div class="tablez"></div>
                    <table data-toggle="table" data-url="data1.json" data-cache="false" data-height="299">
                        <thead>
                            <tr>
                                <th data-field="id"></th>
                                <th data-field="name"></th>
                                <th data-field="price"></th>
                            </tr>
                        </thead>
                    </table>
                    </center>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>

    {% endblock %}
