{% extends "layout.html" %}

{% block title %} Register - FormalDateFinder.com {% endblock %}
{% block content %}

{% if all_events %}
<table class="table table-bordered">
<thead>
<tr><th>Event Name</th><th>Event Date</th>
<th>Event Sponsor</th><th>Event Location</th></tr>
</thead>

<tbody>

  {% for e in all_events %}
<tr><td>{{ e.event_name }}</td><td>{{ e.event_date }}</td>
<td>{{ e.sponsor }}</td><td>{{ e.location }}</td></tr>
  {% endfor %}

</tbody></table>

{% else %}
<p> Add some events and check back here! </p>
{% endif %}

{% endblock %}

