{% extends "layout.html" %}

{% block title %} Register - FormalDateFinder.com {% endblock %}
{% block content %}

{% if all_events %}
<div class="container">
<table class="table table-bordered" id="event-table" align="center">
<thead>
<tr><th>Event</th><th>Date</th>
<th>Sponsor</th><th>Location</th></tr>
</thead>

<!-- Table of registered eventes  -->
<tbody>

  {% for e in all_events %}

  {% if e.is_upcoming %}
  <tr class="upcoming-event">
    {% else %}
  <tr class="archived-event">
    {% endif %}

  <td><a href="/event/{{ e.id }}">{{ e.event_name }}</a></td><td>{{ e.event_date }}</td>
<td>{{ e.sponsor }}</td><td>{{ e.location }}</td></tr>
  {% endfor %}

</tbody></table></div>


{% else %}
<p> Add some events and check back here! </p>
{% endif %}

{% endblock %}